@import "./flex";

body
{
	@extend .flexbox-vt-ytop-xstretch;
}

.picto
{
	img
	{
		display: none;
	}

	img.no-svg
	{
		display: block;
	}
}

$navbar-height: 70px;
$footer-height: 25px;
$logo-padding: 5px;

.logo-link
{
	@extend .flexbox-hz-xleft-ycenter;

	text-decoration: none;

	span
	{
		font-size: 30px;
		font-weight: 900;
	}
}

header
{
	position:fixed;
	top: 0;
	width: 100%;
	z-index: 9;
	height: $navbar-height;

	@extend .flexbox-hz-xleft-ystretch;

	.logo-link
	{
		padding-right: 15px;

		#logo
		{
			width: $navbar-height - ($logo-padding * 2);
			height: $navbar-height - ($logo-padding * 2);
			margin: 0 $logo-padding;
		}

		span
		{
		}
	}

	#menu
	{
		@extend .flexbox-hz-xleft-ycenter;

		a
		{
			padding: 0 10px;
			font-size: 16px;
			font-weight: 700;
			text-decoration: none;
			text-transform: uppercase;
		}
	}

	#navbar-background
	{
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		height: $navbar-height;
		z-index: -1;
	}

}

.navbar-gap
{
	height: $navbar-height;
}

section
{
	@extend .flexbox-vt-ytop-xcenter;
}

footer
{
	height: $footer-height;
}
